/* style.css */
body {
    font-family: Arial, sans-serif;
     /* Replace with your background image path */
    background-size: cover;
    
    color: #333;
    margin: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Add vertical scroll bar */
    max-height: 400px; /* Adjust the max-height as needed */
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

h1, h2 {
    color: #333;
}
.navbar {
    overflow: visible;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: red;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}
/* Add more styles as needed */
